@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

</div>

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>
<div class="row">
    @using (Html.BeginForm("ConvertToImage", "Home", FormMethod.Post))
    {
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-6">

                </div>
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit" value="Convert To Image">Convert</button>
        </div>
    }
</div>
<div class="row">
    @using (Html.BeginForm("ConvertToJPEG", "Home", FormMethod.Post))
    {
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-6">

                </div>
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit" value="Convert To JPEG">Convert To JPEG</button>
        </div>
    }
</div>